body{background-color: rgb(100, 182, 237); font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(95, 93, 93, 0.384);}

section{
    position: relative; left: 400px; top: 150px;
    height: 330px;
    width: 350px;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
   }
   .view{
       position: relative; color: #7C8494;
       height: 25px; 
       width: 120px;
       top: -30px; left: 220px; right: 4px; bottom: 70px; 
       text-align: right; margin-top: -10px;
       border: thin #e3e7f0 3px;
       border-radius: 5px;
       text-align: center;
       font-size:14px;
       box-shadow: 1px 1px 1px 0px;
       padding-top: 5px;
}
   h2{padding-top: 9px; padding-left: 10px; 
    color: rgb(73, 72, 72); font-size: 17px;}
    
   h3{color: #3B435F; font-size: 14px ;}

   .boton{
    height: 65px;
    width: 230;
    border: thin;
    border-left: 5px solid;
    /* padding: top: 16px bottom: 12px right: 10px left: 10px; */
    border-radius:5px; 
    box-shadow:1px 1px 1px 0px; 
    margin:8px; 
    padding-left: 20px;
    padding-top: 1px;
}
    .rosa{
        border-left: 5px solid pink;
    }
    .violeta{
        border-left: 5px solid violet
    }
    .naranja{
        border-left: 5px solid rgb(243, 109, 61);
    }
    .courses{
        font-size: 12px;
    }

  
    
